html {
    background: #ffffff;
}

.top-nav {
    display: flex;
    justify-content: space-around;
    align-items: right;
    box-sizing: border-box;
    color: #000000;
}

.nav-link {
    text-decoration: none;
    font-size: 0.5em;
}

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #200282;
}

img {
    float: center;
}

.top-content {
    color: #200282;
}

.bottom-content {
    color: #200282;
}

