html {
    background: #ffffff;
}

.home-nav {
    display: flex;
    text-align: left;
    font-size: 2em;
    padding-top: 25px;
    padding-left: 25px;
}

.top-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    margin-left: 0;
    font-size: 2em;
    padding-left: 250px;
    padding-right: 50px;
}

.nav-link {
    text-decoration: none;
    font-size: 0.5em;
    color: #000000;
    margin-left: 20px;
}

.center-link {
    margin-left: 200px;
}

.right-link {
    margin-left: 200px;
}

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    background: #ffffff;
}

.content {
    position: relative;

}

.image-container {
    display: flex;
    margin: 0;
    position: relative;
    justify-content: center;
}

img {
    height: auto;
    width: 60%;
}

.top-content, .bottom-content {
    color: #200282;
    position: absolute;
    width: auto;
    height: auto;
    left: 0;
    font-size: 2.4em;
}

.top-content {
    top: 20%;
    padding-left: 500px;
}

.bottom-content {
    bottom: 30%;
    padding-left: 800px;
}
