html, body {
    background: #ffffff;
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-top: 20px;
    position: sticky;
}

.home-nav {
    display: flex;
    align-items: center;
    font-size: 1em;
    padding-left: 25px;
    position: sticky;
}

.top-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
    font-size: 1em;
    padding-left: 27px;
    padding-right: 50px;
    position: sticky;
}

.nav-link {
    text-decoration: none;
    font-size: 1em;
    color: #696969;
    margin-left: 1em;
    position: sticky;
}

.center-link {
    margin-left: 200px;
    position: sticky;
}

.right-link {
    margin-left: 200px;
    position: sticky;
}

@media screen and (max-width: 768px) {
    .home-nav, .top-nav {
        flex-direction: column;
        align-items: flex-start;
        font-size: 1.5em;
        padding: 10px;
    }
}

.content {
    position: relative;

}

.image-container {
    display: flex;
    margin: 0;
    position: relative;
    justify-content: center;
    overflow: hidden;
 }

img {
    max-width: 70%;
    height: auto;
    padding-top: 8.5em;
}

.images {
    position: absolute;
    bottom: 1px;
    left: 10px;
    display: flex;
    align-items: center;
    padding-left: 230px;
    padding-top: 250px;
}


.resizable1 {
    width: 13%;
    height: auto;
    margin-right: 10px;
}

.resizable2 {
    width: 6%;
    height: auto;
}

.links {
    position: absolute;
    bottom: 1px;
    left: 10px;
    display: flex;
    align-items: center;
    padding-left: 230px;
}

.textlink1 {
    padding-right: 10px;
    color: rgba(0, 0, 0, 0);
    text-decoration: none;
    padding-top: 200px;
}

.textlink2 {
    padding-left: 25px;
    color: rgba(0, 0, 0, 0);
    text-decoration: none;
    padding-top: 180px;
}

.top-content, .bottom-content {
    color: #200282;
    position: absolute;
    width: auto;
    height: auto;
    left: 0;
    font-size: 1.7em;
}

.top-content {
    top: 15%;
    padding-left: 260px;
    position: absolute;
}

.bottom-content {
    bottom: 1px;
    padding-left: 650px;
}

.separator {
    position: absolute;
    bottom: -175px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #696969;
}

.mypalette {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px 0;
}

.image-section {
    max-width: 100%;
    height: auto;
}

.text-section {
    max-width: 50%;
}

.text-section h1 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #000000;
}

.text-section p {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #696969;
}


.container {
    width: 100%;
    height: 100vh;
}

.slides {
    width: 100%;
    height: 100vh;
}


.slide2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: #ffffff;
    border-top: 1px;
    border-top: #ffcbda;
}

.image-section {
    flex: 1;
    padding: 20px;
    padding-left: 100px;
    padding-bottom: 75px;
}

.image-section img {
    width: 75%;
    height: auto;
}

.text-section {
    flex: 1;
    padding: 20px;
    padding-right: 75px;
}

.text-section h2 {
    font-size: 50px;
    font-weight: 600;
    max-width: 650px;
    color: #FF7FA5;
}

.text-section h3 {
    font-size: 25px;
    font-weight: 600px;
    max-width: 650px;
}

.text-section p {
    font-size: 20px;
    line-height: 1.6;
    max-width: 650px;
    font-weight: 600;
}
